<div class="welcome-card">
    <div class="lottie-container">
        <lottie-player src="/animations/dancing.json" background="transparent" speed="1"
            style="width: 200px; height: 200px;" loop autoplay>
        </lottie-player>
    </div>
    <div class="welcome-message">
        <h1>Welcome to <%= siteName %> 🎉</h1>
        <p>
            Hello We're excited to have you here.
        </p>
        <p>
            We're glad you're here. Jump in and explore!
        </p>
        <p>
            Explore different parts of the website and discover something amazing.
        </p>
    </div>
</div>