<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>
        <%= h1 %>
    </h1>
    <br>
    <section>
        <h2><a href="/new">Create a Message here.</a></h2>
    </section>
    <br>
    <h2>Here are the new Messages:</h2>
    <section>
        <%- include('messages',  {messages: messages}); %>
    </section>
</body>

</html>