<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>
        <%= h1 %>
    </h1>
    <br>
    <section>
        <h2><a href="/new">Create a Message here.</a></h2>
    </section>
    <br>
    <div class="telegram-login-widget">
        <script async src="https://telegram.org/js/telegram-widget.js?22"               data-telegram-login="aswito_bot"
        data-size="small" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
    </div>
</body>

</html>