<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <h1>Message details.
    </h1>
    <h2>
        Message from: <strong><%= message.user %></strong>
    </h2>
    <p>
        <em><%= message.text %></em>
    </p>
    <br>
    <p>Message was added on: <strong><%= message.added %></strong>
    </p>
    <a href="/">Back to Messages</a>
</body>

</html>